* {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
}

.background {
    background-color: #000000;
    height: 100vh;
    padding-top: 1px;
}

.X {
    color: rgb(255, 255, 255);
}

.O {
    color: rgb(242, 247, 153);
}

.title {
    color: rgb(207, 211, 137);
    text-align: center;
    font-size: 50px;
    margin-top: 10%;
}

.title-text {
    font-weight: 800;

}
.display {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    margin-top: 2.5%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    border: 1px solid rgb(248, 247, 247);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    border-radius: 10%;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}


#reset {
    background-color: rgb(122, 124, 77);
}
